.profile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.profile input{
    
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 10px;
   
}

.groupList{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.groupList li{
    background-color: rgb(217, 218, 219);
    width: 100%;
    border-radius: 10px;
    padding: 0.4rem;
    margin: 0.2rem;
}
.profileCard{
    background-color: #f9f9f9;
    width: 90%;
    border-radius: 10px;
    padding: 0.4rem;
    margin: 0.2rem;
}
.moneyBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}