.profile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.profile input{
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 10px;
   
}
.profile button{
    margin-top: 1rem;
}
.groupList{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.groupList li{
    background-color: rgb(153, 156, 161);
    width: 100%;
    border-radius: 10px;
    padding: 0.4rem;
    margin: 0.2rem;
}